* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.auth-header {
  text-align: center;
  margin-top: 2rem;
}
.login {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 1rem;
  box-shadow: 5px 5px 15px #888888;
  margin: auto;
  border: 0.1px solid rgb(252, 248, 248);
  border-radius: 5px;
  padding: 1rem;
}

.rest-log {
  margin-top: 2rem;
  width: 100vw;
}
.flex-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  padding: 0.4rem;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 0.4rem;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-text {
  margin-top: 1.5rem;
  text-align: center;
  /* background-color: white; */
  color: rgb(1, 1, 16);
  cursor: pointer;
}

.login-header {
  text-align: center;
}

.button-sep {
  margin-left: 1rem;
  padding: 4px 6px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  width: 80vw;
  margin: 1rem auto;
}

table td {
  text-align: center;
}

table td img {
  border-radius: 40%;
  padding: 4px;
}

table td button {
  padding: 2px 8px;
  margin-right: 0.3rem;
}

.w-button {
  width: 3.5rem;
}

.container::before {
  content: "";
  background: url("../../public/Food.jpeg") no-repeat center center/cover;
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  /* height: calc(100% - 70px); */
  z-index: -1;
}
.food-text {
  display: flex;
  /* background-color: red; */
  color: white;
  flex-direction: column;
  height: 20rem;
  margin-top: 2rem;
  height: 84vh;
  overflow-y: scroll;
}

.text-heading {
  margin: 0 auto;
  padding-top: 2rem;
}
.text-heading h1 {
  color: black;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5px;
}

.field-1 {
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 12px;
  background: #dfdde3;
  box-shadow: inset 15px 15px 30px #bebcc1, inset -15px -15px 30px #fffeff;
}
.u-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.list {
  list-style-type: none;
  color: black;
  font-size: larger;
  background-color: #575656;
  width: 20rem;
  border-radius: 5px;
  color: #dfdde3;
  padding: 0.8rem;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 68vh;
  overflow-y: scroll;
}

.item-not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
